.steps, .template-mail {
    background: #FFFFFF;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    justify-content: center;
    box-shadow: 0px 4px 15px 2px rgba(0, 40, 90, 0.15);
    border-radius: 5px;
    position: relative;
}

.detail-step {
    width: calc(100% / 5);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    margin-right: 45px;
}
.detail-step:last-child {
    margin-right: 0;
}
.detail-step .button-add-branch-1, .detail-step div#datepicker {
    width: 100%;
    margin-left: unset;
}
.form-check {
    padding-left: 0;
}
.detail-step p {
    color: #0F94B5;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.detail-step .button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.detail-step span.label {
    color: #0F94B5;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 25px 0;
    display: block;
    position: relative;
}
.detail-step .button button {
    margin-top: 10px;
}

.detail-step .select-type-file .form-check {
    text-align: start;
    margin-top: 25px;
    margin-bottom: 30px;
}
.option .button-select-template-mail button {
    margin-top:10px;
    width: 100%;
    margin-right:0;
}
.select-template-mail {
    text-align: center;
    width: 179px;
}
.button-select-template-mail {
    padding-bottom: 14px;
}
.select-template-mail p {
    color: #0F94B5;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding-top: 10px;
}
.description-template-mail {
    width: calc(100% - 179px);
    margin-left: 34px;
    position: relative;
}
.description-template-mail span {
    position: absolute;
    top: 25%;
    color: #222222;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
/*style radio button modal*/
.form-radio-check [type="radio"]:checked,
.form-radio-check [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-radio-check [type="radio"]:checked + label,
.form-radio-check [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.form-radio-check [type="radio"]:checked + label:before,
.form-radio-check [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #2bc0e4;
    border-radius: 100%;
    background: #fff;
}

.form-radio-check [type="radio"]:checked + label:after,
.form-radio-check [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #0F94B5;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-radio-check [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form-radio-check [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.file-sample {
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    color: #00285A;
}
.file-title {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #7C9AA1;
}
.file-name-sample {
    font-weight: 700;
    padding-right: 0 !important;
}
.file-response-2 {
    margin-bottom: 15px !important;
    align-items: unset !important;
}
.icon-upload {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-top: 3px;
}
.item-error {
    margin-bottom: 0 !important;
    line-height: 23px;
    font-size: 16px;
    padding-top: 3px;
}
.item-error-message {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0 !important;
    padding-bottom: 3px;
}
#listFileError {
    max-width: 652px;
    padding-bottom: 20px;
}
#text-file-pass {
    padding-top: 10px;
    font-size: 12px;
    color: #00285A;
    font-weight: 400;
    text-align: left;
}
.list-file-pass {
    padding-top: 30px;
    padding-bottom: 20px;
}
.file-type {
    font-weight: 400;
    font-size: 14px;
    color: #7C9AA1;
    text-align: left;
}
.file-name-pass {
    padding-top: 10px;
}
.item-upload div p {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #B8B8B8;
}
.btn-download-file-type-1 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #00285A;
}
.modal-text {
    letter-spacing: -0.02em;
}
#select-all-facilities {
    background: #B5E5F0;
    border-radius: 5px;
    width: 120px;
    height: 33px;
    color: #0F94B5;
}
#listFacility th {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background: #F9F9F9;
    border: unset;
}
#listFacility td:not(:first-child) {
    text-align: left;
    padding-left:12px;
}
#listFacility td:first-child {
    text-align: left;
    padding-left:17px;
}
.file-step svg {
    margin-right: 10px;
}
.table-responsive.hidden-type-check {
    max-height: 400px;
    overflow-y: auto;
}
.col-3 .template-mail.text-center span {
    color: #0F94B5;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.col-3 .template-mail.text-center button {
    display: block;
    margin: 15px auto 0 auto;
}

.col-3 .template-mail.text-center {
    height: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
}
